
.page-content{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.horizontal-card{
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    max-width: 70rem;
    max-height: 39rem;
}

.card-content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
}


.card-btn{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-card-btn{
  height: auto;
}


.invoice{
    min-width: 52rem;
    min-width: 48.8rem;
    background-color: var(--color-white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.invoice-item{
    display: flex;
    justify-content: space-between;
}

.final-amt{
    font-weight: bolder;
}







